<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  
  	<!-- Using hibernate's ability to create/validate/update/drop schema. This is strongly adviced to be used only in DEV -->
  	<property name="hbm2ddl.auto">create-drop</property>
  
  
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/ifinances2</property>
    <property name="connection.username">infinite2</property>
    <property name="connection.password">skills2</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

	<mapping class="com.learning.data.entities.User"/>
	<mapping class="com.learning.data.entities.TimeTest"/>
	<mapping class="com.learning.data.entities.Bank"/>
	<mapping class="com.learning.data.entities.Credential"/>
	<mapping class="com.learning.data.entities.Account"/>
	<mapping class="com.learning.data.entities.Transaction"/>
	<mapping class="com.learning.data.entities.Budget"/>
	<mapping class="com.learning.data.entities.Currency"/>
	<mapping class="com.learning.data.entities.Market"/>
	<mapping class="com.learning.data.entities.Stock"/>
	<mapping class="com.learning.data.entities.Bond"/>
	<mapping class="com.learning.data.entities.Portfolio"/>
	<mapping class="com.learning.data.entities.UserCredentialView"/>

  </session-factory>
</hibernate-configuration>